.App {
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.App, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
main {
    height: 90%;
}
textarea {
    resize: none;
    border: 2px solid black
 }
.top{
    border-bottom: none;
 }
.bottom {
    border-top: none;
 }
/* main stuff  */
.is-Flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;
}

/* utility  */
.Logo {
    height: 100px;
}
.toggle {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;

}
.toggle div {
    width: 35%;
    height: 3px;
    background-color: white;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}
.Button {
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
.ButtonContainer{
    padding: 5px 0px;
    width: 90%;
    justify-content: flex-end;
}
.Button .danger {
    background-color: lightsalmon;
}
.NewItem {
    padding: 0 10px 10px 10px;
}
.big-P {
    font-size: larger;
    font-weight: bold;
}
/* navbar / sidedrawer  */
.NavBar {
    height: 7%;
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    /* background-color: rgba(0,0,0,0.5); */
}
.NavBar:hover{
    background-color: transparent;
}
.NavBar .main {
    width: 60%;
    height: 100%;
}
.NavBar .side { 
    width: 20%;
    height: 100%;
}
.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.Open {
    transform: translateX(0);
}
.Close {
    transform: translateX(-100%);
}

/* ToDo stuff  */
.ToDo {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background-color: lightseagreen;
    padding: 25px 0px;
    margin: 15px;
}
.ToDo .ToDoList{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 80%;
    background-color: lightcyan;
}
.ToDo .ToDoList .ToDoItem {
    font-size: 1.2rem;
    width: 95%;
    height: 15%;
    background-color: lightcoral;
    border: 1px solid lightcyan;
}
.ToDo .ToDoList .ToDoItem h2, .ItemTitleWrapper{
    color: #fff;
    cursor: pointer;
}
.ToDo .ToDoList .ToDoItem .ItemTitleWrapper:hover{
    border-bottom: 2px solid #fff;
}

/* mobile*/
@media(min-width: 500px) {
    .SideDrawer {
        width: 35%;
    }
}